<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samuel.mobilecomputing" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Nick"
            android:label="@string/title_activity_nick"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LibraryChoice"
            android:label="@string/title_activity_library_choice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".findFriend"
            android:label="@string/title_activity_find_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LibInfo"
            android:label="@string/title_activity_lib_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddFriend"
            android:label="@string/title_activity_add_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendDetails"
            android:label="@string/title_activity_friend_details"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
